@using Sitecore.Mvc





<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"> @Html.Sitecore().Field("title")</div>
            <div class="intro-lead-in"> @Html.Sitecore().Field("JobTitle")</div>
            <div class="intro-heading text-uppercase"> @Html.Sitecore().Field("text")</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">@Html.Sitecore().Field("button")</a>
         
            <div class="test-render"> @Html.Sitecore().Field("TestRenderText")</div>
        </div>
    </div>
</header>

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    